modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MINI_APP_URL = "https://98d45e27-bc89-4a35-b1ab-38b7579eeed5-00-338ja2m8x4bdb.riker.replit.dev/api"
GROUP_CHAT_ID = "-1004300869797"
